.carrousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.arrow.left {
    left: 15px;
}

.arrow.right {
    right: 15px;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.carrousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.carrousel .img {
    height: 200px; /* Hauteur fixe pour toutes les images */
    width: auto; /* Conserve les proportions des images */
    opacity: 0.5; /* Transparence des images non centrales */
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(0.8); /* Réduction des images non centrales */
    object-fit: cover; /* Empêche les images d'être rognées */
    margin: 30px 5px;
}

.carrousel .img.active {
    height: 250px; /* Hauteur légèrement plus grande pour l'image centrale */
    width: auto; /* Conserve les proportions */
    opacity: 1; /* Pleine opacité pour l'image centrale */
    transform: scale(1); /* Agrandissement de l'image centrale */
    z-index: 1;
    margin: 30px 5px; /* Met l'image centrale au premier plan */
}

